.murray {
  font-family: cursive;
  width: 500px;
  border: 5px solid #AF125A;
  border-radius: 40px;
  padding: 50px;
  margin: 50px;
  color: #87F1FF;
  background-color: #BD8B9C;
  text-align: center;
  vertical-align: top;
}
.wetbananas {
  font-family: cursive;
  width: 500px;
  border: 5px solid #188FA7;
  border-radius: 40px;
  padding: 50px;
  margin: 50px;
  color: #769FB6;
  background-color: #E2DBBE;
  text-align: center;
  vertical-align: top;
}
.kareem {
  font-family: cursive;
  width: 500px;
  border: 5px solid #635255;
  border-radius: 40px;
  padding: 50px;
  margin: 50px;
  color: #CE7B91;
  background-color: #1A281F;
  text-align: center;
  vertical-align: top;
}
